<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

            <form action="{{ '/login' }}" method="POST">
                <label>Pseudo:</label>
                <input type="text" id="pseudo" name="pseudo" placeholder="login">

                <label>Password:</label>
                <input type="password" id="mdp" name="mdp" placeholder="password">

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit" name ="submit" value="submit">submit</button>
            </form>
        {% endblock %}




        {% block javascripts %}{% endblock %}
    </body>
</html>
