<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <nav class="nav">
        <a class="nav-link" href="{{ '/register' }}">Inscription</a>
        <a class="nav-link" href="{{ '/tchat' }}">Tchat</a>
        <a class="nav-link disabled" href="{{ 'logout' }}">Logout</a>
    </nav>

    <form method="post" action="{{ '/register' }}">
        <div class="form-group">
            <label>Pseudo</label>
            <input type="pseudo" name="pseudo" class="form-control" id="pseudo" placeholder="Pseudo">
        </div>
        <div class="form-group">
            <label>Mdp</label>
            <input type="mdp" name="mdp" class="form-control" id="mdp" placeholder="Mdp">
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
